/* Stiziles */

html, body {
  background: #222222;
}

/* main */

.main {
  width: 100%;
  height: 100%;
  background: #222222;
  color: #fff;
}

.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

.status {
  height: 10%;
  box-sizing: border-box;
  padding: 5px 10px;
  overflow: hidden;
}

.status__text {
  font-size: 1em;
  color: #fff;
  float: left;
}

.status__text--right {
  float: right;
}

.menu {
  padding-left: 0;
  background-color: #3D86B7;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu__item {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
}

.menu__link.active {
  color: #fff;
  text-decoration: underline;
}

.menu__link {
  display: block;
  background-color: #3D86B7;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  border-right: 1px solid #ccc;
  font-size: 1em;
}

.menu__item:last-child .menu__link {
  border-right: none;
}

.timer-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

.time-element {
  width: 50%;
  float: left;
}

.time-element--right {
  float: right;
}

.time-element__label {
  color: #3D86B7;
  font-size: 0.7em;
  text-transform: uppercase;
}

.time-element__time {
  color: #3D86B7;
  font-size: 1.5em;
}

.row {
  border-top: 1px solid #ccc;
  text-align: center;
}

.row .fa {
  color: #3D86B7;
  font-size: 4em;
}

.row--up, .row--down {
  padding: 10% 0;
}

.row--left {
  float: left;
  width: 50%;
  border-right: 1px solid #ccc;
  text-align: left;
}

.row > div.invisible {
  opacity: .5;
}

.row--right {
  float: right;
  width: 50%;
  text-align: right;
}

.row--right, .row--left {
  box-sizing: border-box;
  padding: 15% 5%;
}

.row--left-right {
  overflow: hidden;
}

.notes-wrapper {
  height: 50vh;
}

.zoom-wrapper {
  max-height: 50vh;
}

.pointer-wrapper {
  max-height: 50vh;
}
.pointer-zoomer {
  text-align: center;
}
.pointer-zoomer-image {
  max-height: 100%;
  max-width: 100%;
}

.row--up, .row--down, .row--left, .row--right {
  -webkit-user-select: none;
  user-select: none;

}

.row--up:active, .row--down:active, .row--left:active, .row--right:active {
  background-color: #ccc;
  opacity: 0.5;
}

.small .row {
  width: 33%;
  float: left;
  text-align: center;
}

.small .row--up, .small .row--down {
  padding-top: 0;
  padding-bottom: 0;
}

.small .row--left, .small .row--right {
  width: auto;
  float: none;
  text-align: center;
}

.small .row--right {
  border-left: 1px solid #ccc;
}

.small .row--left-right div:first-child {
  border-bottom: 1px solid #ccc;
}

.canvas {
  background-color: #ddd;
  width: 100%;
  height: 100%;
}

.notes-wrapper p {
  color: #fff;
  font-size: 1.5em;
  line-height: 3vh;
  padding: 0 10px;
  overflow-y: scroll;
}
