.Menu
  border 1px dashed #f00
.menu {
  display: block
  flex-flow: row nowrap;
  flex: 1 100%;
  margin: 0
  padding-left: 0

 &__link {
   text-decoration: none
   margin: auto
   color: #fff
   padding: 1em 2em
   display: block
   background-color: deepskyblue
 }

 &__item {
   display: inline-block
 }
}
